body {
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(66, 100, 116);
    opacity: 0.6;
    height: 80px;
    align-items: center;
    position: absolute;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    border-radius: 20px;
}

.menu {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    font-size: 150%;
}

.nav .menu {
    display: inline;
    padding: 15px;
    border-radius: 20px;
}

.head {
    width: 1fr;
    height: 800px;
    background-image: url('../images/Banniere_sans_logo0.png');
    background-position: 40% -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav .menu:hover {
    background-color: rgb(71, 114, 134);
    filter: drop-shadow(10px 10px 4px rgb(0, 0, 0));
}

.bio p, .video p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 125%;
}

.logo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    opacity: 0.7;
    transition: ease-in-out 0.5s;
}

.logo1:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 0 0.5em #ffffff);
}

.logo2:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 0 0.5em #ffffff);
}

.logo3:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 0 0.5em #ffffff);
}

/* .logo1 {
    position: absolute;
    right: 600px;
    top: 250px;
    transition: ease-in-out 0.5s;
}

.logo2 {
    position: absolute;
    right: 450px;
    top: 350px;
    transition: ease-in-out 0.5s;
}

.logo3 {
    position: absolute;
    right: 300px;
    top: 450px;
    transition: ease-in-out 0.5s;
} */

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: solid;
    border-bottom: solid;
    background-color: #283c46;
    height: 40px;
    text-shadow: 5px 5px 5px black;
}

.twitch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.stream {
    height: 504px;
    width: 800px;
}

.liens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap; 
}

.progra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 300px 0 300px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    flex-direction: column;
}

.video a {
    background-color:#283c46;
    border-radius: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    transition: ease-in-out 0.1s;
}

.video a:hover {
    transform: scale(1.1);
    border: solid #ffffff79;
}

.contact {
    margin: 50px;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 50px;
    background-color: #283c46;
}

.contact p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 125%;
}

.contact a:hover {
    text-decoration: underline overline;
    color: black;
}

footer p {
    text-align: start; 
    color: rgb(0, 0, 0);
    margin: 2px;
    margin-top: 10px;
    margin-left: 16px;
}

footer p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer p a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #283c46;
    border-top: solid #ffffff80;
    height: 70px;
}

@media screen and (max-width: 960px) {
    .nav {
        display: none;
    }
    .nav .menu {
        padding: 5px;
    }
    .bio {
        padding: 0;
    }
    .stream {
        width: 600px;
    }
    .chat {
        width: 600px;
        margin-bottom: 50px;
    }
    .twitch {
        flex-direction: column;
        height: 700px;
    }
    .liens a {
        display: flex;
        justify-content: center;
        margin: 0%;
    }
    .contact {
        margin-left: 150px;
        margin-right: 150px;
    }
}
@media screen and (max-width: 620px) {
    .head {
        background-position: -365px -100px;
    }
    .progra {
        height: 600px;;
    }
    .progra img {
        height: 530px;
        width: 340px;
    }
    .video {
        height: 600px;
    }
    .video iframe {
        height: 220px;
        width: 340px;
    }
    .stream {
        width: 340px;
    }
    .chat {
        width: 340px;
        margin-bottom: 50px;
    }
    .twitch {
        flex-direction: column;
        height: 700px;
    }
    .logo {
        transform: scale(0.7);
        padding-right: 0;
    }
    .contact {
        margin-left: 150px;
        margin-right: 150px;
    }
}
@media screen and (max-width: 620px) {
    .contact {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media screen and (min-width: 1500px) {
    .logo1 {
        position: absolute;
        right: 600px;
        top: 250px;
        transition: ease-in-out 0.5s;
    }

    .logo2 {
        position: absolute;
        right: 450px;
        top: 350px;
        transition: ease-in-out 0.5s;
    }

    .logo3 {
        position: absolute;
        right: 300px;
        top: 450px;
        transition: ease-in-out 0.5s;
    }
}